body{
    font-family:cursive;
}


.top_navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.logo{
    width: 17%;
}
.lower_navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid black;
}

.lower_navbar>div{
    width: 30%;
}
.lower_navbar>div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.display{
    width: 90%;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    font-family: cursive;
}
.display div{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.display div>button{
    padding: 5px;
    font-size: medium;
    border-radius: 5px;
    background-color:seagreen;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
    color: antiquewhite;
}