body{
    font-family:cursive;
}


.top_navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.search_bar{
    padding: 15px 60px;
    font-size:larger;
    font-family: cursive;
    border: 1px solid black;
    border-radius: 20px 0px 20px 0px ;

}
#search_button{
    border-radius: 5px;
    padding: 10px ;
    font-style: italic;
    background-color: rgb(250, 248, 246);
    border: 0px;

}
#search_button:hover{
    background-color: aqua;
}

.logo{
    width: 17%;
}
.lower_navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid black;
}

.lower_navbar>div{
    width: 30%;
}
.lower_navbar>div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-around;
}
    /* login signup Css */
.dropdown {
    position: relative;
    display: inline-block;
    cursor:grab;
  }
  .dropdown button{
    border: 0px;
    font-size: medium;
    padding: 15px;
 }
 .dropdown button:hover{
    background-color: aquamarine;
 }

  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    
  }

/* login signup Css */

.display{
    width: 90%;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    font-family: cursive;
}
.display div{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.display div>button{
    padding: 5px;
    font-size: medium;
    border-radius: 5px;
    background-color:seagreen;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
    color: antiquewhite;
}